@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  color: #161c20;
  overflow-y: auto;
  font-weight: 400;
}
p{
  line-height: 1.7;
}

img {
  max-width: 100%;
  height: auto;
}

.rounded {
  border-radius: 0.25rem;
}

.text-center {
  text-align: center;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.shadow {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
}


.left-float {
  float: left;
}

.right-float {
  float: right;
}

.capital {
  text-transform: capitalize;
}

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;
}

:root {
  --main-transition: 0.2s;
  --dark-blue-color: #0875d5;
  --bg-footer-black: #161c20;
  --bg-facebook: #3b5998;
  --border-input: #ced4da;
  --gradient-overlay: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
  --relax-green: #29c187;
  --main-color: #5154b3;
  --shadow-btn: 0 6px 25px -25px #000;

}

.cursor {
  cursor: pointer;
}

.clear {
  clear: both;
}

.scroll-top{
  height: 50px;
  cursor: pointer;
  width: 50px;
  background: #0f8cfa;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 50%;
}
/* content */

/* start header */


header {
  background: #fff;
  height: 50px;
  -webkit-user-select: none;
  width: 100%;
}
header ul{
  height: 50px;
}
header li.logo{
  display: none;
}
@media (max-width: 768px) {
  header li.logo{
    display: block !important;
  }
  header li.right .sun-right{
    display: none !important;
  }
  header div.logo{
    display: none !important;
  } 
  header div.dark-left{
    display: block !important;
  }
  header i{
    font-size: 20px !important;
  }
  header li.right .bar{
    display: block !important;
  }
  header .dark-right,
  header .profil,
  header .setting{
    display: none !important;
  }
}
header i{
  font-size: 25px;
  color: #2b2b2b;
}
header li.right div{
  display: inline-block;
}
header li.right .bar{
  display: none;
}
header a.btn:hover,section input.submit:hover{
  background: #0c5c72 !important;
}
@media (min-width: 768px) {
  header .dark{
    display: none !important;
  }
  header .sun{
    display: none !important;
  }
}



/* end header */


/* start form */

section form input.submit{
  transition: 0.2s;
}

section form{
  width: 300px;
  max-width: 100%;
  border: 1px solid var(--border-input);
}
section form input:focus{
  border-color: #0f8caf;
}
section form input,
section form textarea{
  width: 100%;
  border: 1px solid var(--border-input);
}
section form input.submit{
  background: #0f8caf;
}
@media (max-width: 768px) {
  section form{
    display: none !important;
  }
}

/* end form */


/* start bottom */

.bottom{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .bottom a.first{
    background: #0f8caf;
  }
  .bottom a.first i,
  .bottom a.first p{
      color: white;
  }
  section{
    padding: 100px 0;
  }
}
@media (min-width: 768px) {
  .bottom{
    display: none !important;
    background: none !important;
  }
}
.bottom a{
  padding: 5px;
  flex-basis: 25%;
}

/* end bottom */
/* start footer */

footer{
  background: #ffffcc;
  padding: 25px 0;
}

/* end footer */


/* start profil */

section .caption,
section .title{
  border-bottom: 1px solid var(--border-input);
}
section ul.ul-profil li{
  border-bottom: 1px solid var(--border-input);
  padding: .75rem 5px;
}
section ul.ul-profil li:last-child{
  border: 0 !important;
}
section ul.ul-profil{
  border: 1px solid var(--border-input);
}
section ul.ul-profil .right-side span{
  color: #7a7a7a;
}
section .box{
  border: 1px solid var(--border-input);
}
@media (min-width: 768px) {
  section .box:last-child{
    margin: 0 1rem;
  }
}
/* end profil */


/* start rate */

section .emojis i{
  font-size: 40px;
  padding: .5rem;
  cursor: pointer;
}
section .emojis{
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
section .emojis .item{
  background: #0f8caf;
  color: white;
  border-radius: 10px;
}
section .objet{
  width: 400px;
  max-width: 100%;
}

/* end rate */


/* start users */

main ul{
  background: white;
  border: 1px solid var(--border-input);
}
main ul li{
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid var(--border-input);
}
main ul li:last-child{
  border: 0 !important;
}

/* end users */


/* start aside */

article{
  height: 100vh;
  background: white;
  z-index: 100;
}
article input#name,
article textarea{
  width: 100%;
  background: #f7f7f7;
  border: 2px solid #e5e5e5;
  border-radius: 6px;
}
article input#name{
  height: 40px;
}
article textarea{
  height: 80px;
}
input.submit{
  background: #0f8caf;
  width: 100%;
  color: white;
  border-radius: 6px;
  height: 40px;
}
article .lol{
  width: 200px;
  max-width: 100%;
  background: #e5e5e5;
  height: 2px;
}
article a{
  width: 100%;
  padding: .65rem 1rem !important;
}
article a i{
  font-size: 14px;
}
article .socis{
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
@media (min-width: 768px) {
  article{
    display: none;
  }
}
#hide{
  padding: 15px;
  font-size: 23px;
  position: absolute;
  top: 0;
  right: 0;
}

/* animation */

@keyframes toright{
  0%{
    width: 0%;
  }
  75%{
    width: 75%;
  }
  100%{
    width: 100%;
  }
}


/* end aside */